<div class="create">
  <!-- <h3>Create</h3> -->
  <form class="inputs row " #issueForm="ngForm"  (ngSubmit)="onSubmit()">
    <div class="title col-12">
        <label for="title">Title</label>
        <input type="text" id="title" name="title" [(ngModel)]="issueData.title"/>
    </div>
   
    <div class="col-6">
      <!-- <label for="userId">User Id</label>
      <input type="number" name="userId" [(ngModel)]="issueData.created_by" max="20" min="1" required="true"> -->
      <label for="userId">User Id</label>
      <select name="userId" id="userId" [(ngModel)]="issueData.created_by" required>
        <option [value]="user.id" *ngFor="let user of users">{{user.first_name+" "+user.last_name}}</option>
      </select>
      <label for="type">Type</label>
      <select name="" id="type" name="type" [(ngModel)]="issueData.type" required>
        <option value="epic"><span><i class="bi bi-lightning-charge-fill"></i> Epic</span></option>
        <option value="story"><i class="bi bi-bookmark-fill"></i> Story</option>
        <option value="task"> <i class="bi bi-list-task"></i>Task</option>
        <option value="bug"><i class="bi bi-circle-fill"></i> Bug</option>
      </select>
      <label for="Priority">Priority</label>
      <select name="priority" id="priority" [(ngModel)]="issueData.priority" required>
        <option value="Select" hidden disabled>Select</option>
        <option [value]="item" *ngFor="let item of priorityList">{{item}}</option>
      </select>
      <!-- <input type="text" id="Priority" name="priority" ngModel /> -->
      <!-- <label for="Affected-versions">Affected-versions</label>
      <input type="text" id="Affected-versions" /> -->
      <!-- <label for="components">components</label>
      <input type="text" id="components" /> -->
      <!-- <label for="Labels">Labels</label>
      <input type="text" id="Labels" /> -->
      <!-- <label for="Sprint">Sprint</label>
      <input type="text" id="Sprint" name="sprint" [(ngModel)]="issueData.sprint"/>
      <label for="Storypts">Story Points</label>
      <input type="text" id="Storypts" name="Storypts" [(ngModel)]="issueData.storyPoints"/> -->
    </div>
    <div class="col-6">
      <label for="status">Status</label>
      <!-- <input type="text" id="status" name="status" ngModel /> -->
      <select name="status" id="status" [(ngModel)]="issueData.status" required>
        <option value="" hidden disabled>Select</option>
        <option [value]="item" *ngFor="let item of statusList">{{item}}</option>
      </select>

      <!-- <label for="Resolution">Resolution</label>
      <input type="text" id="Resolution" /> -->

      <!-- <label for="Fix version">Fix version</label>
      <input type="text" id="Fix version" /> -->

      <!-- <label for="Assignee">Assignee</label>
      <input type="text" id="Assignee" name="assignee" [(ngModel)]="issueData.assignee"/> -->

      <label for="assignee">Assignee</label>
      <select name="assignee" id="assignee" [(ngModel)]="issueData.assignee" required>
        <option [value]="user.id" *ngFor="let user of users">{{user.first_name+" "+user.last_name}}</option>
      </select>

      <!-- <label for="Reporter">Reporter</label>
      <input type="text" id="Reporter" /> -->

      <label for="Description">Description</label>
      <input type="text" id="Description" name="Description" [(ngModel)]="issueData.description" required/>

      <!-- <label for="Attachments">Attachments</label>
      <input type="file" id="Attachments" name="attachments" [(ngModel)]="issueData.attachments"> -->
    </div>
    <div class="navigation col-12">
        <button type="submit" data-bs-dismiss="modal">Submit</button>
    </div>
   
  </form>
</div>
