<div class="sidebar">
  <a routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
      <a routerLink="/issues" routerLinkActive="active">Issues</a>
      <!-- <a routerLink="/create" routerLinkActive="active">Create</a> -->
      <a href="" data-bs-toggle="modal" data-bs-target="#exampleModal" type="button">Create</a>
     
</div>

<!-- modal for creating a issue -->
<div
    class="modal modal-xl fade"
    id="exampleModal"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">{{modalType}}</h1>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <app-create></app-create>
        </div>
      </div>
    </div>
  </div>
