.issue-card{
    width:100%;
    border: 1px solid rgb(228, 224, 224);
    border-radius:5px;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding:0.5rem 1rem;
    background-color: #fff;
    cursor: pointer;
}
span{
    align-self: flex-end;
    font-size: 0.8rem;
    color: grey;
}
h3{
    font-size: 1rem;
    font-weight: bold;
}
p{
    font-size: 0.8rem;
    margin: 0;
}
.issue-card-details{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding:  1rem; */
}
.profile{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    vertical-align: center  ;
}
.issue-id{
    display: flex;
    gap: 1rem;
    align-items: center;
}
i{
    color: rgb(101, 180, 253);
}
.assignee{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.assignee p{
    color:grey;
    font-size: 0.8rem;

}