<div class="issue-card">
    <span>4 septamber 2023</span>
    <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur, nesciunt?</h3>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Debitis officiis ducimus ipsam repudiandae voluptatem aut nostrum voluptas at temporibus exercitationem.</p>
    <div class="issue-card-details">
        <div class="issue-id">
            <i class="bi bi-calendar2-check-fill"></i>
            <p>PCG15461446</p>
        </div>
        <img  class='profile'src="https://picsum.photos/100?image=10" alt="">
    </div>
</div>
