
<div class="dashboard row">
    <div class="dashboard-header col-12">
        <h3>Dashboard</h3>
        <select>
            <option value="last month">Last month</option>
            <option value="last week"> Last week</option>
        </select>
    </div>
    <div class="amcharts">
        <h1>Here charts will come</h1>
    </div>
    <div class="issues col-12 row">
        <app-issue-list class="col-4"></app-issue-list>
        <app-issue-list class="col-4"></app-issue-list>
        <app-issue-list class="col-4"></app-issue-list>
    </div>
</div>
